# Importing Dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Importing Dataset

In [3]:
Data = pd.read_csv('Placement.csv')

# Sorting the Data

In [4]:
Data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [5]:
Data.tail()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
210,M,80.6,Others,82.0,Others,Commerce,77.6,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.0,Others,67.0,Others,Commerce,73.0,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.0,Others,66.0,Others,Commerce,58.0,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.0,Central,58.0,Others,Science,53.0,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [6]:
Data.describe()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [7]:
Data.isnull().sum()

gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

# Exploratory Data Analysis(EDA)

In [8]:
Data = Data.drop('salary',axis=1)

In [9]:
Data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [10]:
Data.shape

(215, 13)

In [11]:
print("The number of rows are :",Data.shape[0])
print("The number of columns are :",Data.shape[1])

The number of rows are : 215
The number of columns are : 13

In [12]:
Data['degree_t'].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [13]:
Data['gender'].unique()

array(['M', 'F'], dtype=object)

In [14]:
Data['gender'].replace({'M':0,'F':1},inplace=True)

In [15]:
Data['degree_t'].replace({'Sci&Tech':0,'Comm&Mgmt':1,'Others':2},inplace=True)

In [16]:
Data['specialisation'].unique()

array(['Mkt&HR', 'Mkt&Fin'], dtype=object)

In [17]:
Data['specialisation'].replace({'Mkt&HR':0,'Mkt&Fin':1},inplace=True)

In [18]:
Data['workex'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
Data['workex'].replace({'No':0,'Yes':1},inplace=True)

In [20]:
Data['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [21]:
Data['status'].replace({'Placed':1,'Not Placed':0},inplace=True)

In [22]:
Data['hsc_s'].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [23]:
Data['hsc_s'].replace({'Science':1,'Commerce':2,'Arts':3},inplace=True)

In [24]:
Data['ssc_b'].unique()

array(['Others', 'Central'], dtype=object)

In [25]:
Data['ssc_b'].replace({'Central':1,'Others':0},inplace=True)

In [26]:
Data['hsc_b'].unique()

array(['Others', 'Central'], dtype=object)

In [27]:
Data['hsc_b'].replace({'Central':1,'Others':0},inplace=True)

In [28]:
Data.head(10)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,2,58.00,0,0,55.00,0,58.80,1
1,0,79.33,1,78.33,0,1,77.48,0,1,86.50,1,66.28,1
2,0,65.00,1,68.00,1,3,64.00,1,0,75.00,1,57.80,1
3,0,56.00,1,52.00,1,1,52.00,0,0,66.00,0,59.43,0
4,0,85.80,1,73.60,1,2,73.30,1,0,96.80,1,55.50,1
5,0,55.00,0,49.80,0,1,67.25,0,1,55.00,1,51.58,0
6,1,46.00,0,49.20,0,2,79.00,1,0,74.28,1,53.29,0
7,0,82.00,1,64.00,1,1,66.00,0,1,67.00,1,62.14,1
8,0,73.00,1,79.00,1,2,72.00,1,0,91.34,1,61.29,1
9,0,58.00,1,70.00,1,2,61.00,1,0,54.00,1,52.21,0

In [29]:
X = Data.drop('status',axis=1)
Y = Data['status']

In [30]:
X

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,0,67.00,0,91.00,0,2,58.00,0,0,55.0,0,58.80
1,0,79.33,1,78.33,0,1,77.48,0,1,86.5,1,66.28
2,0,65.00,1,68.00,1,3,64.00,1,0,75.0,1,57.80
3,0,56.00,1,52.00,1,1,52.00,0,0,66.0,0,59.43
4,0,85.80,1,73.60,1,2,73.30,1,0,96.8,1,55.50
...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,0,82.00,0,2,77.60,1,0,91.0,1,74.49
211,0,58.00,0,60.00,0,1,72.00,0,0,74.0,1,53.62
212,0,67.00,0,67.00,0,2,73.00,1,1,59.0,1,69.72
213,1,74.00,0,66.00,0,2,58.00,1,0,70.0,0,60.23
214,0,62.00,1,58.00,0,1,53.00,1,0,89.0,0,60.22

In [31]:
Y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

# Training the Data

In [32]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20,random_state=1)

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [34]:
Testing = LogisticRegression()
Testing.fit(X_train,Y_train)

C:\Users\nisha\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
Y_Prediction = Testing.predict(X_test)

# Checking the Accuracy Score

In [36]:
accuracy = accuracy_score(Y_test,Y_Prediction)
print("The accuracy of the prediction is : ",accuracy)

The accuracy of the prediction is :  0.8604651162790697

In [37]:
Data.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status'],
      dtype='object')

In [38]:
new_data = pd.DataFrame({
    'gender':1,
    'ssc_p':87.4,
    'ssc_b':1,
    'hsc_p':75.6,
    'hsc_b':1,
    'hsc_s':1,
    'degree_p':70.3,
    'degree_t':0,
    'workex':1,
    'etest_p':86.5,
    'specialisation':0,
    'mba_p':75.6,
},index=[0])

In [39]:
Testing = LogisticRegression()
Testing.fit(X,Y)

C:\Users\nisha\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [40]:
Final = Testing.predict(new_data)
if Final==1:
    print(" The student is Placed")
else:
    print("The student is not placed")

 The student is Placed

In [41]:
new_data1 = pd.DataFrame({
    'gender':1,
    'ssc_p':91.5,
    'ssc_b':1,
    'hsc_p':93.5,
    'hsc_b':1,
    'hsc_s':1,
    'degree_p':73.0,
    'degree_t':0,
    'workex':1,
    'etest_p':86.5,
    'specialisation':0,
    'mba_p':87.3,
},index=[0])

In [42]:
Final = Testing.predict(new_data1)
if Final==1:
    print(" The student is Placed")
else:
    print("The student is not placed")

 The student is Placed